# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Generated outputs
outputs/figures/*.png
outputs/figures/*.jpg
outputs/figures/*.jpeg

# Temporary files
*.tmp
*.temp